<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mapa</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">

</head>
<body>
     <div class = "container">        
        

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXo-OEh8h8LtwbjdK5FVTkIEQi6q5Cass&libraries=places"></script>
<script src="{{url_for('static', filename='map.js')}}"></script>
</body>

</html>