{% extends "base.html" %}

{% block content %}

<div class="d-flex mt-3 justify-content-center p-5">
     <div class="card col-sm-6 p-5" >
       <div class="mb-3">
         <h3>Iniciar Sesion</h3>
       </div>
       <div class="mb-2">
         <form method="POST" action="/login">
           <div class="mb-2">
             <label class="form-label">Correo</label>
             <input type="email" class="form-control"  name="correo" id="exampleFormControlInput1" placeholder="Ingresa tu correo"></input>
           </div>
           <div class="mb-2">
             <label class="form-label">Contraseña</label>
             <input type="password" class="form-control" name="password" id="exampleFormControlInput1" placeholder="Ingresa tu contraseña"></input>
           </div>
           <div class="mb-2 mt-3 text-center">
             <a class="btn btn-warning w-50 fw-bold" href="/">Iniciar sesion</a>
           </div>
         </form>
       </div>
       <hr></hr>
       <div class="text-center mt-4">
         <a class="btn btn-primary w-50 fw-bold" href="{{ url_for('registro') }}">Registrarse</a>
       </div>
     </div>
   </div>

   {% endblock %}